<footer class="page-footer font-small fundo pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 -col-sm-12 d-flex justify-content-center">
                <h6 class="cortext font-weight-light "></h6>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-lg-2 d-flex justify-content-center align-items-center ">
                <!--LOGO-RODAPE-->
                <ul class="logo-rodape">
                    <li>
                        <a href="">
                            <i class="fa" aria-hidden="true"><img src="../../assets/img/LOGOB.png" alt=""></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 d-flex justify-content-center align-items-center">
                <ul class="texto-rodape">
                    <li>MENU</li>
                    <li> <a href="#">Contato</a></li>
                    <li> <a href="#">Contato</a></li>
                    <li> <a href="#">Contato</a></li>
                    <li> <a href="#">Contato</a></li>
                </ul>
            </div>

            <div class="col-lg-2 d-flex justify-content-center align-items-center">
                <ul class="texto-rodape">
                    <li>MENU</li>
                    <li> <a href="#">Contato</a></li>
                    <li> <a href="#">Contato</a></li>
                    <li> <a href="#">Contato</a></li>
                    <li> <a href="#">Contato</a></li>
                </ul>
            </div>

            <div class="col-lg-2 d-flex justify-content-center align-items-center">
                <ul class="texto-rodape">
                    <li>MENU</li>
                    <li> <a href="#">Contato</a></li>
                    <li> <a href="#">Contato</a></li>
                    <li> <a href="#">Contato</a></li>
                    <li> <a href="#">Contato</a></li>
                </ul>
            </div>

            <div class="col-lg-4 d-flex align-items-center justify-content-center">
                <ul class="social-midias">
                    <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
                    <li>
                        <a href="#" target="_black">
                            <i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_black">
                            <i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_black">
                            <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                    </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3 fundo">
        <span class="text-light cortext font-weight-light"> &copy; 2021 Copytight - Lotus</span>
    </div>
</footer>