<footer class="page-footer font-small fundo pt-4">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-2 d-flex justify-content-center align-items-center">
        <!--LOGO-RODAPE-->
        <ul class="logo-rodape">
          <li>
            <a routerLink="/inicio">
              <i class="fa" aria-hidden="true"
                ><img src="../../assets/img/LOGOB.png" alt="logo_icone"
              /></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 d-flex justify-content-center align-items-center">
        <ul class="texto-rodape">
          <li class="tituloTopico fw-light">MENU</li>
          <hr />
          <li><a class="fw-light" routerLink="/inicio">Home</a></li>
          <li><a class="fw-light" routerLink="/tema">Temas</a></li>
          <li><a class="fw-light" routerLink="/sobre">Sobre</a></li>
          <li>
            <a class="fw-light" routerLink="/central-de-ajuda"
              >Central de Ajuda</a
            >
          </li>
        </ul>
      </div>

      <div class="col-lg-3 d-flex justify-content-center align-items-center">
        <ul class="texto-rodape">
          <li class="tituloTopico fw-light">CONTATOS</li>
          <hr />
          <li><a class="fw-light">Telefone:</a></li>
          <li><a class="fw-light">+ 55 11 95983-7072</a></li>
          <li><a class="fw-light">lotusnetwork@outlook.com</a></li>
          <li>
            <a
              class="fw-light"
              href="https://g.page/centrocomercialalphaville?share"
              >São Paulo, SP</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-center">
        <ul class="social-midias">
          <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
          <li>
            <a
              href="https://www.facebook.com/profile.php?id=100070800187347"
              target="_black"
            >
              <i class="fa fa-facebook" aria-hidden="true"></i
            ></a>

            <a href="https://www.instagram.com/site_lotus/" target="_black">
              <i class="fa fa-instagram" aria-hidden="true"></i
            ></a>

            <a
              href="https://www.linkedin.com/in/lotus-project-a0826b217/"
              target="_black"
            >
              <i class="fa fa-linkedin" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3 fundo">
    <span class="cortext font-weight-light cortext">
      &copy; 2021 Copytight - Lotus</span
    >
  </div>
</footer>
