<!-- <div class="d-flex justify-content-center">
    <div class="col-md-11">
        <hr class="my-3">
    </div>
</div>
<div class="container f-0">
    <div class="row justify-content-around">
        <div class="d-flex">
            <div class="card me-4" style="width: 18rem; height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Sobre a rede</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <hr>
                    </h6>
                    <p class="card-text text-justify">Lotus é uma rede social voltada para mulheres e pessoas-trans com
                        o intuíto de
                        diminuir
                        incidentes de
                        discriminação e desilgualdade de gênero dentro do ambiente de trabalho.</p>
                </div>
            </div>
            <div>
                <div class="d-flex">
                    <div class="card me-4" style="width: 16rem; height: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">Como trabalhamos?</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <hr>
                            </h6>
                            <p class="card-text">Coletamos reclamações e denúncias feitas
                                pelas usuárias
                                através de postagens, afim de notificar/expor empresas que praticam qualquer tipo de
                                injúria contra
                                mulher.</p>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="justify-content-end p-0 ps-2">
                <img class="p-0 m-0" src="../assets/img/woman-working-laptop.jpg" alt="" width="550px">
            </div>
        </div> 
    </div> 
</div>  -->
<div class="container-fluid fundo p-0">
    <div class="container">
        <div class="p-5 ">
            <h5 class="fw-bolder fs-1 text-white">Olá, @usuaria,</h5>
            <h5 class="fw-lighter fs-5 text-white">Conheça um pouco da nossa historia</h5>
        </div>
    </div>
</div>

<!-- ================================================================ TESTE  -->

<!-- <div class="container-fluid p-0">
    <div class="container s">
        <div class="row">
            <div class="col-lg-3 ">
                <div class="d-flex my-5">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <button class="nav-link active " id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true"><p class="text-start m-0 p-0">NOSSA HISTORIA</p></button>
                        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                            aria-selected="false"><p class="text-start m-0 p-0">COMO CHEGAMOS ATE AQUI</p></button>
                        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                            aria-selected="false"><p class="text-start m-0 p-0">O QUE QUEREMOS</p></button>
                        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                            aria-selected="false"><p class="text-start m-0 p-0">ATÉ AONDE VAMOS</p></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 my-5">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quis,
                        cum saepe. Assumenda, inventore culpa. Magnam velit libero unde explicabo exercitationem
                        necessitatibus adipisci cupiditate amet, impedit vitae nulla molestias nihil quis.
                        Animi, voluptate, explicabo nesciunt eos dolores laudantium perspiciatis, sequi facilis tempora
                        minus suscipit. Ipsum beatae incidunt id molestiae repudiandae reiciendis maxime architecto in
                        nobis
                        impedit, tenetur eveniet, quidem saepe assumenda.
                        Nemo ut fugiat, quis est sint odit magni quaerat expedita blanditiis, assumenda quidem, dolorum
                        necessitatibus maiores vitae obcaecati voluptatem magnam ab voluptate eligendi illo architecto!
                        Dolorem saepe quisquam soluta quo?</div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ratione, a excepturi nobis
                        natus
                        quas est aliquid, magnam cumque, illum numquam repellendus accusamus illo laborum totam dolore!
                        Culpa, rerum. Voluptatum.
                        Doloribus quia commodi praesentium ad obcaecati, sit velit explicabo quod. Porro perspiciatis
                        dolor
                        cupiditate alias illum ad, repellendus nostrum beatae aut, veritatis modi nihil qui corrupti ut
                        minus ullam voluptatibus.
                        Molestias sed quis harum. Earum, id? Itaque provident tempora sunt quibusdam voluptatem?
                        Molestiae
                        ipsum amet vel cum quod veniam quia dolorum tempore atque, sequi ratione vitae cupiditate
                        aliquid
                        quos officiis.
                        Recusandae tempore voluptatem eum officiis laudantium esse aspernatur pariatur expedita nam nisi
                        a,
                        voluptate dolorum harum totam culpa ab maxime quod temporibus nemo deleniti ratione incidunt
                        ipsam
                        natus quaerat! Molestiae!
                        Autem corrupti architecto ab. Enim perspiciatis eum perferendis tempora expedita similique
                        dignissimos quasi, aliquid consequatur. Id libero sequi illo ipsam ipsum. Nihil at mollitia
                        impedit
                        enim, illo vel fugiat voluptatum.
                        Molestiae ducimus, ea natus facere animi aperiam enim culpa corrupti distinctio fugit tenetur
                        asperiores suscipit obcaecati, esse impedit, tempora ad sapiente quia iste exercitationem ullam
                        amet? Et reprehenderit accusamus numquam!
                        Aut obcaecati nulla iusto quae deleniti esse suscipit maxime, natus ab ducimus sed in ratione
                        quod
                        perspiciatis dicta! Fuga atque architecto voluptate velit, eos nihil beatae sequi neque cum sed.
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, nihil reprehenderit at
                        iste
                        blanditiis cupiditate facere ab laudantium laboriosam aliquam ratione enim quibusdam provident
                        suscipit tempora inventore aut, ut incidunt.
                        Facilis nostrum nisi aperiam dolores, iste dolor velit voluptatem? Molestias odit vero
                        exercitationem eaque unde laudantium cupiditate ipsam voluptas, quas architecto itaque
                        reiciendis
                        distinctio saepe, veniam debitis enim sint repellat.
                        Facere ab odio quos a facilis tempora laboriosam nostrum, veniam incidunt nesciunt voluptate est
                        dolores eos numquam et ad, nisi debitis sunt. Accusamus, illo iste? Numquam iusto hic quibusdam
                        qui?
                        Optio, beatae sunt magni voluptates, autem minus necessitatibus ullam consequuntur iure sint
                        quis,
                        quod rem? Temporibus animi excepturi adipisci rerum dignissimos necessitatibus rem facere
                        voluptate,
                        maiores, iste, doloribus earum in.
                        Dolorum vero adipisci repellat, eum qui velit assumenda libero tempore. Ab ea magnam maiores
                        unde
                        cum ratione voluptatibus ipsa laborum sit vel rerum temporibus veritatis, ullam blanditiis rem
                        non
                        eius.</div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est neque cum, fugiat ad expedita
                        temporibus voluptas quidem quia distinctio dicta, quo magnam nulla harum ea? Quis, illum fugiat.
                        Vitae, voluptatem!
                        Deserunt vitae veniam blanditiis maiores, incidunt neque hic consectetur impedit nostrum
                        excepturi
                        enim? Quod at modi veritatis fugiat cupiditate laborum cum, ab magnam odio sit dolorem libero!
                        Et,
                        odio atque!
                        Soluta at deleniti expedita illum nisi, cum et corporis odit possimus ipsa neque consectetur
                        assumenda architecto excepturi sunt, alias repellat? Voluptate, impedit perspiciatis? Quam quod
                        omnis voluptatibus soluta accusamus recusandae.
                        Sequi ad repudiandae fuga maiores, nihil magni, earum veritatis quos, maxime at quia assumenda.
                        Rem
                        totam quae ipsam laudantium necessitatibus sunt deleniti saepe maxime provident suscipit? Minus
                        ducimus quae deserunt.
                        Numquam vitae, et voluptates ex repudiandae eveniet qui nobis veritatis corporis nam modi
                        maxime.
                        Commodi, iusto eum odit quia omnis neque cum eius ducimus sunt error eos asperiores temporibus
                        consectetur?</div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- ================================================================ FIM TESTE  -->


<!-- CARDS DOS DESENVOLVEDORES -->
<div class="container-fluid fundo-sobre">
    <div class="container">
        <div class="low d-flex justify-content-center">
            <div class="col-lg-6 col-md-10 col-sm-10  my-5 text-center">
                <h1 class="fw-lighter">Conheça um pouco melhor nossa equipe de profissionais</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
                <!-- DANILO -->
                <div class="card d-flex justify-content-center align-items-center shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="my-3">
                        <img src="../assets/img/Danilo.jpg" class="rounded-pill p-2 border border-secondary tamanho-img"
                            alt="Desenvolvedor Danilo">
                    </div>
                    <h5 class="fw-bolder">Danilo Silva</h5>
                    <h5 class="fw-lighter fs-6">Desenvolvedor Java Jr</h5>
                    <hr>
                    <ul class="social-midias d-flex justify-content-center align-items-center">
                        <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
                        <li>
                            <a href="#" target="_black">
                                <i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/d.ssilva2/" target="blank">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/danilo-silva-77204312b/" target="blank">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/d-ssilva" target="blank">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- ISAQUE -->
                <div class="card d-flex justify-content-center align-items-center shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="my-3">
                        <img src="../assets/img/Isaque.jpg" class="rounded-pill p-2 border border-secondary tamanho-img"
                            alt="Desenvolvedor Isaque">
                    </div>
                    <h5 class="fw-bolder">Isaque Costa</h5>
                    <h5 class="fw-lighter fs-6">Desenvolvedor Java Jr</h5>
                    <hr>
                    <div>
                        <ul class="social-midias d-flex justify-content-center align-items-center">
                            <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
                            <li>
                                <a href="https://web.facebook.com/IsaqueSilva00/" target="blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/isaqecosta/" target="blank">
                                    <i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/isaque-silva/" target="blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/Isaquesc" target="blank">
                                    <i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- KEVIN -->
                <div class="card d-flex justify-content-center align-items-center shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="my-3">
                        <img src="../assets/img/Kevin-Kurt.jpg"
                            class="rounded-pill p-2 border border-secondary tamanho-img" alt="Desenvolvedor Danilo">
                    </div>
                    <h5 class="fw-bolder">Kevin Kurt</h5>
                    <h5 class="fw-lighter fs-6">Desenvolvedor Java Jr</h5>
                    <hr>
                    <div>
                        <ul class="social-midias d-flex justify-content-center align-items-center">
                            <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
                            <li>
                                <a href="https://www.facebook.com/KevinKurt007" target="_black">
                                    <i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/kekevekevin/" target="blank">
                                    <i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/kevin-kurt-3871891a6/" target="blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/Kevin-Kurt" target="blank">
                                    <i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- VITOR -->
                <div class="card d-flex justify-content-center align-items-center shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="my-3">
                        <img src="../assets/img/Vitor-Murback.jpeg"
                            class="rounded-pill p-2 border border-secondary tamanho-img"
                            alt="Desenvolvedor Vitor Murback">
                    </div>
                    <h5 class="fw-bolder">Vitor Murback</h5>
                    <h5 class="fw-lighter fs-6">Desenvolvedor Java Jr</h5>
                    <hr>
                    <div>
                        <ul class="social-midias d-flex justify-content-center align-items-center">
                            <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
                            <li>
                                <a href="https://www.facebook.com/vitor.murback/" target="blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/p/CES-SZSnUY-/" target="blank">
                                    <i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/vitormurback/" target="blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/vmurback" target="blank">
                                    <i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>