
<h1 class="fw-lighter text-center fundo text-light my-4 mx-2">
    QUEM SOMOS
</h1>


<hr class="my-3">

<!-- DIV GRID PARA OS CARDS -->
<div class="container">
    <div class="row justify-content-around">
        <!-- DIV CARDS -->
        <div class="d-flex">
            <div class="card me-4" style="width: 18rem; height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">Sobre a rede</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <hr>
                    </h6>
                    <p class="card-text text-justify">Lotus é uma rede social voltada para mulheres e pessoas-trans com o intuíto de
                        diminuir
                        incidentes de
                        discriminação e desilgualdade de gênero dentro do ambiente de trabalho.</p>
                    <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
            <div>
                <div class="d-flex">
                    <!-- CARD -->
                    <div class="card me-4" style="width: 16rem; height: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">Como trabalhamos?</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <hr>
                            </h6>
                            <p class="card-text">Coletamos reclamações e denúncias feitas
                                pelas usuárias
                                através de postagens, afim de notificar/expor empresas que praticam qualquer tipo de
                                injúria contra
                                mulher.</p>
                        </div>
                    </div>
                    <!-- /CARD -->
                </div>

            </div> <!-- ROW-->
            <div class="justify-content-end p-0 ps-2">
                <img class="p-0 m-0" src="../assets/img/woman-working-laptop.jpg" alt="" width="550px">
            </div>
        </div> <!-- CONTAINER -->
    </div>
</div>

<hr class="my-4">



<!-- CARDS DOS DESENVOLVEDORES -->
<h2 class="fst-italic fundo text-light text-center">DESENVOLVEDORES</h2>
<hr class="my-3">
<div class="container">
    <!-- CONTAINER -->

    <div class="row">
        <!-- ROW! -->

        <div class="d-flex justify-content-around p-0">
            <!-- DANILO -->
            <div class="col-md-2">
                <div class="card align-items-center ">
                    <div class="card-body rounded-bottom">
                        <!-- Body card -->
                        <p class="text-center mt-2">Danilo Silva, 26 anos</p>
                        <hr>
                        <div class="align-items-center m-0 p-0">
                            <img src="../assets/img/Danilo.jpg"
                                class="rounded-pill p-2 border border-secondary tamanho-img" alt="Desenvolvedor Danilo">
                        </div>
                        <hr>
                        <div>
                            <ul class="social-midias">
                                <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
                                <li>
                                    <a href="https://www.instagram.com/d.ssilva2/" target="blank">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/danilo-silva-77204312b/" target="blank">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/d-ssilva" target="blank">
                                        <i class="fa fa-github" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- CARD BODY-->
                </div>

            </div> <!-- Fechamento -->

            <!-- KEVIN -->
            <div class="col-md-2">

                <div class="card align-items-center">
                    <div class="card-body">
                        <p class="text-center mt-2">Kevin Kurt, 18 anos</p>
                        <hr>
                        <div class="align-items-center">
                            <img src="../assets/img/Kevin-Kurt.jpg"
                                class="rounded-pill p-2 border border-secondary tamanho-img" alt="Desenvolvedor Danilo">
                        </div>
                        <hr>
                        <div >
                            <ul class="social-midias">
                                <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
                                <li>
                                    <a href="#" target="_black">
                                        <i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="blank">
                                        <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/kevin-kurt-3871891a6/" target="blank">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="blank">
                                        <i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- CARD BODY-->
                </div>

            </div> <!-- Fechamento -->

            <!-- VITOR -->
            <div class="col-md-2">

                <div class="card align-items-center">
                    <div class="card-body">
                        <p class="text-center mt-2">Vitor, 29 anos</p>
                        <hr>
                        <div class="align-items-center">
                            <img src="../assets/img/Vitor-Murback.jpeg"
                                class="rounded-pill p-2 border border-secondary tamanho-img"
                                alt="Desenvolvedor Vitor Murback">
                        </div>
                        <hr>
                        <div>
                            <ul class="social-midias">
                                <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
                                <li>
                                    <a href="https://www.facebook.com/vitor.murback/" target="blank">
                                        <i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/CES-SZSnUY-/" target="blank">
                                        <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/vitormurback/" target="blank">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/vmurback" target="blank">
                                        <i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- CARD BODY-->
                </div>

            </div> <!-- Fechamento -->

            <!-- ISAQUE -->
            <div class="col-md-2">

                <div class="card align-items-center">
                    <div class="card-body">
                        <p class="text-center mt-2">Isaque, 18 anos</p>
                        <hr>
                        <div class="align-items-center">
                            <img src="../assets/img/Isaque.jpg"
                                class="rounded-pill p-2 border border-secondary tamanho-img" alt="Desenvolvedor Isaque">
                        </div>
                        <hr>
                        <div>
                            <ul class="social-midias">
                                <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
                                <li>
                                    <a href="https://www.facebook.com/vitor.murback/" target="blank">
                                        <i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>                             
                                <li>
                                    <a href="https://www.instagram.com/isaqecosta/" target="blank">
                                        <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/isaque-silva/" target="blank">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/Isaquesc" target="blank">
                                        <i class="fa fa-github" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- CARD BODY-->
                </div>

            </div> <!-- Fechamento -->


        </div> <!-- /ROW! -->
    </div> <!-- D-FLEX -->
</div> <!-- /CONTAINER -->

<div class="mb-5"></div>