<div class="container-fluid fundo p-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5 ">
                    <h5 class="fw-bolder fs-1 text-white">Olá, usuaria</h5>
                    <h5 class="fw-lighter fs-5 text-white">Conheça um pouco sobre nossa historia</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row my-5">
        <div class="col-lg-6 my-5 bg-light rounded-pill">
            <h5 class="fs-1 fw-lighter text-wrap">Nossa Causa</h5>
            <h5 class="fs-3 fw-lighter text-wrap"><p>Nós do grupo Lotus, incentivamos e fortificamos a voz das mulheres, promovendo a igualdade de gênero em todas as esferas da sociedade, porém, nossa rede social se destaca na âmbito profissional.</p></h5>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center bRedonda fundoimg">
            <img src="../../assets/img/imagens de sobre/Powerful-rafiki.png" alt="" width="400">
        </div>
    </div>

    <hr>

    <div class="row my-5">
        <div class="col-lg-6 my-5">
            <h5 class="fs-1 fw-lighter text-wrap">Como o site Funciona?</h5>
            <h5 class="fs-3 fw-lighter text-wrap">Os usuários podem compartilhar experiências dentro da rede sobre seu dia a dia, trazendo mais perto a atuação das empresas e pessoas sobre a questão da igualdade de gênero. Assim identificamos quais empresas oferecem abientes propícios e saudáveis para mulheres se desenvolverem de forma justa.</h5>
            
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center bRedonda fundoimg">
            <img src="../../assets/img/imagens de sobre/Researching-amico.png" alt="" width="350">
        </div>
    </div>

    <hr>

    <div class="row my-5 ">
        <div class="col-lg-6 my-5">
            <h5 class="fs-2 fw-lighter text-wrap">Vamos juntos fazer o mundo melhor!</h5>
            <h5 class="fs-3 fw-lighter text-wrap">Junte-se a Lotus e ajude promover a igualdade de gênero, compartilhando suas experiências do dia a dia de forma simples e rápida.</h5>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center fundoimg bRedonda py-4">
            <img src="../../assets/img/imagens de sobre/sign in/Sign in-amico.png" alt="" width="350">        
        </div>
    </div>
</div>


<!-- CARDS DOS DESENVOLVEDORES -->
<div class="container-fluid fundo-sobre">
    <div class="container">
        <div class="low d-flex justify-content-center">
            <div class="col-lg-6 col-md-10 col-sm-10  my-5 text-center">
                <h1 class="fw-lighter">Nossos Desenvolvedores</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
                <!-- DANILO -->
                <div class="card d-flex justify-content-center align-items-center shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="my-3">
                        <img src="../assets/img/Danilo.jpg" class="rounded-pill p-2 border border-secondary tamanho-img"
                            alt="Desenvolvedor Danilo">
                    </div>
                    <h5 class="fw-bolder">Danilo Silva</h5>
                    <h5 class="fw-lighter fs-6">Desenvolvedor Java Jr</h5>
                    <hr>
                    <ul class="social-midias d-flex justify-content-center align-items-center">
                        <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
                        <li>
                            <a href="#" target="_black">
                                <i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/d.ssilva2/" target="blank">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/danilo-silva-77204312b/" target="blank">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/d-ssilva" target="blank">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- ISAQUE -->
                <div class="card d-flex justify-content-center align-items-center shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="my-3">
                        <img src="../assets/img/Isaque.jpg" class="rounded-pill p-2 border border-secondary tamanho-img"
                            alt="Desenvolvedor Isaque">
                    </div>
                    <h5 class="fw-bolder">Isaque Costa</h5>
                    <h5 class="fw-lighter fs-6">Desenvolvedor Java Jr</h5>
                    <hr>
                    <div>
                        <ul class="social-midias d-flex justify-content-center align-items-center">
                            <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
                            <li>
                                <a href="https://web.facebook.com/IsaqueSilva00/" target="blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/isaqecosta/" target="blank">
                                    <i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/isaque-silva/" target="blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/Isaquesc" target="blank">
                                    <i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- KEVIN -->
                <div class="card d-flex justify-content-center align-items-center shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="my-3">
                        <img src="../assets/img/Kevin-Kurt.jpg"
                            class="rounded-pill p-2 border border-secondary tamanho-img" alt="Desenvolvedor Danilo">
                    </div>
                    <h5 class="fw-bolder">Kevin Kurt</h5>
                    <h5 class="fw-lighter fs-6">Desenvolvedor Java Jr</h5>
                    <hr>
                    <div>
                        <ul class="social-midias d-flex justify-content-center align-items-center">
                            <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
                            <li>
                                <a href="https://www.facebook.com/KevinKurt007" target="_black">
                                    <i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/kevin_kurt_martinez/" target="blank">
                                    <i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/kevin-kurt-3871891a6/" target="blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/Kevin-Kurt" target="blank">
                                    <i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- VITOR -->
                <div class="card d-flex justify-content-center align-items-center shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="my-3">
                        <img src="../assets/img/Vitor-Murback.jpeg"
                            class="rounded-pill p-2 border border-secondary tamanho-img"
                            alt="Desenvolvedor Vitor Murback">
                    </div>
                    <h5 class="fw-bolder">Vitor Murback</h5>
                    <h5 class="fw-lighter fs-6">Desenvolvedor Java Jr</h5>
                    <hr>
                    <div>
                        <ul class="social-midias d-flex justify-content-center align-items-center">
                            <!--LOGO/LINK/MIDIA-SOCIAL - RODAPE-->
                            <li>
                                <a href="https://www.facebook.com/vitor.murback/" target="blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/p/CES-SZSnUY-/" target="blank">
                                    <i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/vitormurback/" target="blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/vmurback" target="blank">
                                    <i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>