.tamanho-img {
    width: 7rem;
    height: 7rem;
}

.form-group {
    margin: 10px 0;
}

.bgg {
    border-radius: 20px;
}


.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.user-profile {
    border-radius: 5px 0 0 5px
}

.user-profile {
    padding: 20px 0
}


.img-radius {
    border-radius: 5px
}


.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}