<div class="container-fluid p-0 m-0">
    <div class="row d-flex align-items-center justify-content-center BG">
        <!-- COLOCAR IMG DE BACKGROUND-->
        <div class="col-md-8 justify-content-center">
            <!-- Coluna de espaçamento -->
            <div class="row d-flex justify-content-end align-items-center bg-danger">
                <div
                    class="col-md-6 border-end border-start bg-white align-content-center justify-content-center align-items-center p-5">
                    <!-- CONFIG IMAGEM DO LOGO -->
                    <div class="container-fluid">
                        <div class="d-flex justify-content-center">
                            <img class="justify-content-center mt-0 mb-2" src="../../assets/img/LOGOP.png"
                                alt="Logo da rede" width="180px">
                        </div>
                    </div>
                    <!-- /CONFIG IMAGEM DO LOGO -->
                    <div class="container rounded-3">
                        <h1 class="text-center mb-3 mt-5 pb-2">Login</h1>
                    </div>
                    <div class="form-group">
                        <label for="usuario">Usuario</label>
                        <input class="form-control rounded-pill" type="text" name="usuario" id="usuario"
                            placeholder="Digite o seu usuario">
                    </div>
                    <div class="form-group mt-4">
                        <label for="senha">Senha</label>
                        <input class="form-control rounded-pill" type="password" name="senha" id="senha"
                            placeholder="Digite a sua senha">
                    </div>
                    <div class="d-flex justify-content-center mt-3 me-4">
                        <button type="submit" class="btn btn-secondary rounded-pill">Entrar</button>
                    </div>
                    <hr class="mt-5 mb-5">
                    <p class="text-center">
                        Não tem uma conta? <a routerLink='/cadastrar'>Cadastre-se</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>