<div class="container-fluid body">
    <div class="container-fluidl">
        <div class="fundoazul shadow-lg">
            <div class="box blogin">
                <h2>Already Have an Account ?</h2>
                <button type="button" class="loginBtn">Sign in</button>
            </div>
            <div class="box bcadastro">
                <h2>Don't Have an Account ?</h2>
                <button type="button" class="cadastroBtn">Sign up</button>
            </div>
        </div>
        <div class="formBx">

        </div>
    </div>
</div>
