<nav class="navbar navbar-expand-lg cortext fundo">
    <div class="container">
        <!-- LOGO DO MENU -->
        <div class="logo-menu">
            <img src="../../assets/img/LOGO.png" alt="Logo">
        </div>
        <div class="d-flex justify-content-center align-items-center mx-3 p-0 ">
            <h1 class="fs-3 fw-lighter p-0 m-0">LOTUS</h1>
        </div>
        <!-- BOTAO (RESPONSIVO) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- LINKS-MENU -->
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link m-0 py-0 pl-1" routerLink='/inicio'><i class="fa fa-home" aria-hidden="true"></i></a>
                <a class="nav-link m-0 py-0 pl-1" href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
                <a class="nav-link m-0 py-0 pl-1" routerLink='/sobre'><i class="fa fa-user-o" aria-hidden="true"></i></a>
                <a class="nav-link m-0 py-0 px-5" (click)='sair()'><i class="fa fa-sign-in" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</nav>