.fs-16 {
  font-size: 16pt;
}

a {
  cursor: pointer;
}

.logo-menu img {
  height: 4rem;
}

.cortext {
  color: bisque;
}

.cortext a {
  color: bisque;
}

.fa:hover {
  color: #f69bbc;
}

.corlotus {
  color: #f69bbc;
}
