<div class="d-flex bg-secondary flex-fill justify-content-center text-light my-4">
  <h1 class="">
    QUEM SOMOS
  </h1>
</div>

<hr class="my-3">

<!-- DIV GRID PARA OS CARDS -->
<div class="d-grid">
  <!-- DIV CARDS -->
  <div class="d-flex mx-5">
    <div class="card me-4" style="width: 15rem;">
      <div class="card-body">
        <h5 class="card-title">Quem somos?</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <hr>
        </h6>
        <p class="card-text">Lotus é uma rede social voltada para mulheres e pessoas-trans com o intuíto de diminuir
          incidentes de
          discriminação e desilgualdade de gênero dentro do ambiente de trabalho.</p>
        <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>
    <div>
      <div class="d-flex">
        <!-- CARD -->
        <div class="card" style="width: 15rem;">          
          <div class="card-body">
            <h5 class="card-title">Como trabalhamos?</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <hr>
            </h6>
            <p class="card-text">Coletamos reclamações e denúncias feitas
              pelas usuárias
              através de postagens, afim de notificar/expor empresas que praticam qualquer tipo de injúria contra
              mulher.</p>
          </div>          
        </div>
        <!-- /CARD -->
      </div>
    </div>
    <div class="card ms-3" style="width: 20rem;">
      <img src="../assets/img/Danilo.jpeg" class="rounded-pill w-50 " alt="Desenvolvedor Danilo">
      <div class="card-body">
        <hr>
        <p class="card-text text-center">Danilo Silva, 26 anos</p>
      </div>
    </div>
    <!-- <div>
<img src="../assets/img/businesswoman-stupid.jpg" alt="woman-at-office" width="725">
</div> -->
    <!-- <div class="justify-content-center align-content-center">
<p>Lotus é uma rede social voltada para mulheres e pessoas-trans com o intuíto de diminuir incidentes de
discriminação e desilgualdade de gênero dentro do ambiente de trabalho. Coletamos reclamações e denúncias feitas
      pelas usuárias
      através de postagens, afim de notificar/expor empresas que praticam qualquer tipo de injúria contra mulherer.</p>
  </div> -->