<div class="container-fluid bg3 p-0">
    <div class="d-flex justify-content-center fundo">
        <div class="row">
            <div class="col-lg-12 p-5">
                <h2 class="fw-bolder fs-1 text-white text-center">Olá, {{nome}}.</h2>
                <h3 class="fw-lighter fs-5 text-white text-center">bem vindo(a) a central de ajuda!</h3>
                <div class="form-group ">
                    <input type="text" id="name" class="form-control" required>
                    <label class="form-control-placeholder" for="name"><i
                            class="fa fa-search text-white ms-5 font-buscador" aria-hidden="true"></i></label>
                    <h1 class="text-white pt-3">Use o buscador ou procure na seção abaixo sua dúvida</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center align-items-center">
            <h2 class="font py-5 align-items-center"> Perguntas Respondidas Frequentemente </h2>
        </div>
    </div>

    <div class="row d-flex justify-content-evenly py-5 align-items-end">
        <div class="col-lg-3 font d-flex flex-column">
            <div class="align-self-center ac">
                <h2 class="faq">Geral</h2>
                <a href="">
                    <h4>Versão rede social Lotus</h4>
                </a>
                <a href="">
                    <h4>Reputação</h4>
                </a>
                <a href="">
                    <h4>Termos de Uso</h4>
                </a>
            </div>
        </div>

        <div class="col-lg-3 font d-flex flex-column">
            <div class="align-self-center ac">
                <h2 class="faq">Perfil</h2>
                <a href="">
                    <h4>Atualização a foto de perfil</h4>
                </a>
                <a href="">
                    <h4>Alterando sua senha</h4>
                </a>
                <a href="">
                    <h4>Exclusão da conta</h4>
                </a>
            </div>
        </div>

        <div class="col-lg-3 font d-flex flex-column">
            <div class="align-self-center ac">
                <h2 class="faq">Políticas</h2>
                <a href="">
                    <h4>ODS-4</h4>
                </a>
                <a href="">
                    <h4>Inclusão Social</h4>
                </a>
                <a href="">
                    <h4>Igualdade de Gênero</h4>
                </a>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-evenly pt-5 align-items-end">

        <div class="col-lg-3 font d-flex flex-column">
            <div class="align-self-center ac">
                <h2 class="faq">Postagem</h2>
                <a href="">
                    <h4>Como realizar uma postagem</h4>
                </a>
                <a href="">
                    <h4>Adicionando midia</h4>
                </a>
                <a href="">
                    <h4>Marcando usuários</h4>
                </a>
            </div>
        </div>

        <div class="col-lg-3 font d-flex flex-column">
            <div class="align-self-center ac">
                <h2 class="faq">Tema</h2>
                <a href="">
                    <h4>Selecionar Tema</h4>
                </a>
                <a href="">
                    <h4>Cadastrar Tema</h4>
                </a>
                <a href="">
                    <h4>Filtrar postagens por Tema</h4>
                </a>
            </div>
        </div>

        <div class="col-lg-3 font d-flex flex-column">
            <div class="align-self-center ac">
                <h2 class="faq">Segurança</h2>
                <a href="">
                    <h4>Como proteger sua conta</h4>
                </a>
                <a href="">
                    <h4>Antí Virus</h4>
                </a>
                <a href="">
                    <h4>Trojan</h4>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0">
        <div class="row bot pt-3 text-center mg">
            <p>Temos o compromisso de criar uma Lotus mais segura. Encontre recursos e saiba mais em nosso Centro de
                Segurança.</p>
        </div>
    </div>
</div>