<div class="container-fluid bg3 p-0">
    <div class="d-flex justify-content-center fundo">
        <div class="row">
            <div class="col-lg-12 p-5">
                <h2 class="fw-bolder fs-1 text-white text-center">Olá, {{nome}}.</h2>
                <h3 class="fw-lighter fs-5 text-white text-center">bem vindo(a) a central de ajuda!</h3>
                <div class="form-group ">
                    <input type="text" id="name" class="form-control" required>
                    <label class="form-control-placeholder" for="name"><i
                            class="fa fa-search text-white ms-5 font-buscador" aria-hidden="true"></i></label>
                    <h1 class="text-white pt-3">Use o buscador ou procure na seção abaixo sua dúvida</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center align-items-center">
            <h2 class="font py-5 align-items-center"> Perguntas Respondidas Frequentemente </h2>
        </div>
    </div>

    <div class="row d-flex justify-content-evenly py-5 align-items-end">
        <div class="col-lg-3 font d-flex flex-column">
            <div class="align-self-center ac">

                <h2 class="faq">Geral</h2>

                <a data-bs-toggle="modal" data-bs-target="#versao">
                    <h4 class="links">Versão Rede Social Lotus</h4>
                </a>

                <a data-bs-toggle="modal" data-bs-target="#funcionalidades">
                    <h4 class="links">Funcionalidades</h4>
                </a>

                <a data-bs-toggle="modal" data-bs-target="#termos">
                    <h4 class="links">Termos de Uso</h4>
                </a>

            </div>
        </div>

        <div class="col-lg-3 font d-flex flex-column">
            <div class="align-self-center ac">

                <h2 class="faq">Perfil</h2>

                <a data-bs-toggle="modal" data-bs-target="#altFoto">
                    <h4 class="links">Atualização de Foto</h4>
                </a>

                <a data-bs-toggle="modal" data-bs-target="#altSenha">
                    <h4 class="links">Atualização de Senha</h4>
                </a>

                <a data-bs-toggle="modal" data-bs-target="#delAcc">
                    <h4 class="links">Exclusão de Conta</h4>
                </a>

            </div>
        </div>

        <div class="col-lg-3 font d-flex flex-column">
            <div class="align-self-center ac">

                <h2 class="faq">Políticas</h2>

                <a data-bs-toggle="modal" data-bs-target="#ods5">
                    <h4 class="links">ODS-5</h4>
                </a>

                <a data-bs-toggle="modal" data-bs-target="#inclusaoSocial">
                    <h4 class="links">Inclusão Social</h4>
                </a>

                <a data-bs-toggle="modal" data-bs-target="#igualdadeGenero">
                    <h4 class="links">Igualdade de Gênero</h4>
                </a>

            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-evenly pt-5 align-items-end">

        <div class="col-lg-3 font d-flex flex-column">
            <div class="align-self-center ac">

                <h2 class="faq">Postagem</h2>

                <a data-bs-toggle="modal" data-bs-target="#realPost">
                    <h4 class="links">Como Realizar uma Postagem</h4>
                </a>

                <a data-bs-toggle="modal" data-bs-target="#addMidia">
                    <h4 class="links">Adicionando Mídia</h4>
                </a>

                <a data-bs-toggle="modal" data-bs-target="#marcandoUsuarios">
                    <h4 class="links">Marcando Usuários</h4>
                </a>

            </div>
        </div>

        <div class="col-lg-3 font d-flex flex-column">
            <div class="align-self-center ac">

                <h2 class="faq">Tema</h2>

                <a data-bs-toggle="modal" data-bs-target="#selecTema">
                    <h4 class="links">Selecionar Tema</h4>
                </a>

                <a data-bs-toggle="modal" data-bs-target="#cadTema">
                    <h4 class="links">Cadastrar Tema</h4>
                </a>

                <a data-bs-toggle="modal" data-bs-target="#filtTemas">
                    <h4 class="links">Filtrar Postagens por Tema</h4>
                </a>

            </div>
        </div>

        <div class="col-lg-3 font d-flex flex-column">
            <div class="align-self-center ac">

                <h2 class="faq">Segurança</h2>

                <a data-bs-toggle="modal" data-bs-target="#antivirus">
                    <h4 class="links">Antivírus</h4>
                </a>

                <a data-bs-toggle="modal" data-bs-target="#trojan">
                    <h4 class="links">Trojan</h4>
                </a>

                <a data-bs-toggle="modal" data-bs-target="#protConta">
                    <h4 class="links">Proteger Conta</h4>
                </a>

            </div>
        </div>
    </div>

    <div class="container-fluid p-0">
        <div class="row bot pt-3 text-center mg">
            <p>Temos o compromisso de criar uma Lotus mais segura. Encontre recursos e saiba mais em nosso Centro de
                Segurança.</p>
        </div>
    </div>
</div>

<!-- ODS-5 -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable m-0 p-0">
    <div class="modal" tabindex="-1" id="ods5">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="d-flex justify-content-end">
                    <button type="button" class="chuchu" data-bs-dismiss="modal"> <img
                            src="https://i.imgur.com/GQ8buZn.png" alt="">
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" d-flex justify-content-center align-items-center"><img
                            src="http://www.agenda2030.org.br/static/home/images/ods_icons/5.png" class="mt-5 mb-5"
                            width="250px" alt=""></div>

                    <p> O Objetivo de Desenvolvimento Sustentável 5 diz respeito à igualdade de 
                        gênero e é o quinto dos 17 Objetivos de Desenvolvimento Sustentável 
                        estabelecidos pelas Nações Unidas em 2015. A redação oficial do ODS 
                        5 é "alcançar a igualdade de gênero e empoderar todas as mulheres e
                        meninas".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Inclusão Social -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable m-0 p-0">
    <div class="modal" tabindex="-1" id="inclusaoSocial">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="d-flex justify-content-end">
                    <button type="button" class="chuchu" data-bs-dismiss="modal"> <img
                            src="https://i.imgur.com/GQ8buZn.png" alt="">
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" d-flex justify-content-center align-items-center"><img
                            src="https://i.imgur.com/wjogJH0.png" class="mt-5 mb-5" width="250px" alt=""></div>
                    <p>A inclusão social é o conjunto de medidas direcionadas a indivíduos excluídos do meio social,
                        seja por alguma deficiência física ou mental, cor da pele, orientação sexual, gênero ou poder
                        aquisitivo dentro da comunidade. Dessa forma, o objetivo dessas ações é possibilitar que todos
                        os cidadãos tenham oportunidades de acesso a bens e serviços, como saúde, educação, emprego,
                        renda, lazer, cultura, entre outros.
                    </p>
                    <p>
                        A Rede Social Lotus tem como objetivo prover o meio para que as mulheres exponham suas
                        experiências, ideias, desabafos, denúncias ou qualquer manifestação do pensamento, desde que não
                        ofenda nossos termos de Uso.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Igualdade de Gênero -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable m-0 p-0">
    <div class="modal" tabindex="-1" id="igualdadeGenero">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="d-flex justify-content-end">
                    <button type="button" class="chuchu" data-bs-dismiss="modal"> <img
                            src="https://i.imgur.com/GQ8buZn.png" alt="">
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" d-flex justify-content-center align-items-center"><img
                            src="https://i2.wp.com/jornal.usp.br/wp-content/uploads/2021/05/20210511_igualdade-de-genero.jpg?resize=1200%2C630&ssl=1" class="mt-5 mb-5" width="250px" alt=""></div>

                    <p> Igualdade de gêneros significa que homens e mulheres devem
                        ter os mesmos direitos e deveres. Também conhecida como 
                        igualdade sexual, esta é considerada a base para a construção
                        de uma sociedade livre de preconceitos e discriminações.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Versão da LOTUS -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable m-0 p-0">
    <div class="modal" tabindex="-1" id="versao">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="d-flex justify-content-end">
                    <button type="button" class="chuchu" data-bs-dismiss="modal"> <img
                            src="https://i.imgur.com/GQ8buZn.png" alt="">
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" d-flex justify-content-center align-items-center"><img
                            src="../../assets/img/LOGO.png" class="mt-5 mb-5" width="100px" alt=""></div>

                    <p> A rede social Lotus está em sua versão de teste.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- como atualizar a foto -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable m-0 p-0">
    <div class="modal" tabindex="-1" id="altFoto">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="d-flex justify-content-end">
                    <button type="button" class="chuchu" data-bs-dismiss="modal"> <img
                            src="https://i.imgur.com/GQ8buZn.png" alt="">
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" d-flex justify-content-center align-items-center">

                    <p> Volte para tela inicial, no menu lateral esquerdo click em "Alterar Cadastro" e coloque o link da sua foto na área "Foto".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- como atualizar sua senha -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable m-0 p-0">
    <div class="modal" tabindex="-1" id="altSenha">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="d-flex justify-content-end">
                    <button type="button" class="chuchu" data-bs-dismiss="modal"> <img
                            src="https://i.imgur.com/GQ8buZn.png" alt="">
                    </button>
                </div>
                <div class="modal-body">
                    <div class=" d-flex justify-content-center align-items-center">

                    <p> Volte para tela inicial, no menu lateral esquerdo click em
                        "Alterar Cadastro" e coloque sua nova senha na área "Senha"
                        e confirme ela na área "Confirme sua senha".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>