/* TEXTBOX DE NOME DO TEMA */
.text-input {
    width: 400px
}

.table thead tr{    
    text-align: center;
    vertical-align: middle
}

.table tbody tr{
    text-align: center;
    vertical-align: middle
}

.table tbody tr td{
    text-align: center;
    vertical-align: middle
}

.pchave{
    font-style: italic
}

/* SCROLL HORIZONTAL */
.schr{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
} 