<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center align-content-center">TEMAS</h1>
            <h4 class="text-center align-content-center">Crie novos temas aqui!</h4>
        </div>
    </div>
    <hr class="my-3">

    <div class="row">
        <div class="col-md-3 bg-secondary rounded-end">
        </div>
        <div class="col-md-6">
            <div class="text">Caro(a) usuário(a), <br> Esta seção lhe permite inserir temas novos para rede de
                postagens.
                RECOMENDAMOS para que não criem nenhum tema ja criado, para evitar problemas de
                duplicidade
            </div>
        </div>
        <div class="col-md-3 bg-secondary rounded-start">
        </div>
    </div>
</div> <!-- FECHAMENTO DO CONAINER -->

<hr class="my-4">

<div class="container-fluid">
    <div class="row fundo py-2 rounded-3">
        <div class="col-md-3"></div>
        <div class="col-md-6 justify-content-center">
            <div class="d-flex justify-content-center align-content-center">
                <div class="span cortext fst-italic">Nome do tema:</div>
                <input [(ngModel)]='tema.descricao' class="text-input rounded-1" type="text" style="text-align: center"
                    placeholder="Digite o nome do novo tema">
            </div>
            <div class="d-flex justify-content-center mt-2">
                <div class="row">
                    <div class="col-12">
                        <!-- <button class="btn btn-outline-danger bg-dark me-3">Cancelar</button> -->
                        <button class="btn btn-outline-success bg-dark" (click)='cadastrar()'>Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- FECHANDO TODO CONTAINER -->

<hr class="my-4">

<!-- TABELA COM TEMAS JÁ CRIADOS -->
<div class="container border border-dark rounded-3 my-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nome do Tema</th>
                <th scope="col">Descrição</th>
                <th scope="col">Palavras-chave</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">Assédio Sexual</th>

                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem iure officia, neque dolorum nulla
                    voluptas quia ipsam debitis error veniam odio animi. Optio repellendus expedita aliquid quidem sequi
                    eveniet officiis.</td>

                <td class="pchave">ASSÉDIO, SEXUAL, SAFADO</td>
            </tr>

            <tr>
                <th scope="row">Abuso Psicológico</th>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam praesentium eius qui obcaecati quod
                    ratione exercitationem nihil accusantium. Odit eum ut aut, ducimus mollitia ullam quidem
                    exercitationem eos sunt quo?</td>
                <td class="pchave">XINGAMENTO, DESRESPEITO, DESMORALIZAÇÃO</td>
            </tr>

            <tr>
                <th scope="row">Desigualdade</th>
                <td scope="row">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, minima ipsam quas
                    laudantium nisi soluta non voluptas aperiam blanditiis. Accusamus aliquam reiciendis quaerat
                    voluptates nihil, nesciunt tempore illum in neque.</td>
                <td class="pchave">SALÁRIO, CARGO, POSTURA, COMPORTAMENTO</td>
        </tbody>
    </table>
    <!-- /TABELA COM TEMAS JÁ CRIADOS -->
</div>