body {
    background-color: #f3f2ef;
}

.mev {
    min-height: 100vh;
}

.fundo {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.cortext {
    color: bisque;
}

.textb {
    border: transparent;
    border-bottom: 1px black solid;
    text-align: center;
    padding: 5px;
}

.t {
    height: 200px;
}

html {
    scroll-behavior: smooth;
}

hr {
    color: bisque;
}