/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap"); */

html {
    scroll-behavior: smooth;
    background-color: #f3f2ef;
    
}

body{
    background-color: initial!important;
    /* font-family: "Montserrat", sans-serif !important; */
}
  
.mev {
    min-height: 100vh;
}

.fundo {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.cortext {
    color: bisque;
}

.textb {
    border: transparent;
    border-bottom: 1px black solid;
    text-align: center;
    padding: 5px;
}

.t {
    height: 200px;
}

.mevs {
    min-height: 60vh;
}