<div class="container mt-3 bg3 mb-3">
  <div class="row">
    <!-- abertura lateral esquerda -->
    <div class="col-lg-4 ">
      <div class="card d-flex justify-content-center align-items-center bg-white rounded mx-3 sticky-lg-top">

        <!-- <div class="my-3">  ============= FOTO ANTIGA
          <img src="{{foto}}" class="rounded-circle p-2 border border-secondary tamanho-img" alt="img">
        </div>
        <h5 class="fw-bolder">Olá, {{nome}}</h5> -->

        <div class="profile-card-2 col-12">
          <img src="{{foto}}">
          <div class="profile-name">{{nome}}</div>
          <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
        <hr>
        <div class="card-body">
          <hr>

          <ul class="nav nav-pills d-flex flex-column justify-content-center my-5" id="pills-tab" role="tablist">
            <li class="nav-item my-2" role="presentation">
              <button [routerLink]="['/user-edit', idUser]" class="a btn btn-dark active" id="altUsuario"
                type="button">Alterar Cadastro</button>
            </li>
            <li class="nav-item my-2" role="presentation">
              <button class="a btn btn-dark active" id="todaspostagens" data-bs-toggle="pill"
                data-bs-target="#t-postagens" type="button" role="tab" aria-controls="t-postagens"
                aria-selected="true">Todas Postagens</button>
            </li>
            <li class="nav-item my-2" role="presentation">
              <button class="a btn btn-dark" id="minhaspostagens" data-bs-toggle="pill" data-bs-target="#m-postagens"
                type="button" role="tab" aria-controls="m-postagens" aria-selected="false">Minhas Postagens</button>
            </li>
            <li class="nav-item my-2 " role="presentation">
              <button class="a btn btn-dark" id="postagensportema" data-bs-toggle="pill" data-bs-target="#p-tema"
                type="button" role="tab" aria-controls="p-tema" aria-selected="false">Postagens
                por
                tema</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--Abertura Feed Centro-->
    <div class="col-lg-6 mb-5">
      <div class="card  pt-4">
        <div class="d-flex justify-content-center align-items-center">
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-dark m-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Nova Postagem
            </button>
          </div>
        </div>
      </div>

      <!-- Todas Postagens -->
      <div class="tab-content my-5" id="pills-tabContent">
        <div class="tab-pane fade show active" id="t-postagens" role="tabpanel" aria-labelledby="todaspostagens">
          <div class="card h-100 my-2" *ngFor='let i of listaPostagens | orderBy : key : reverse' data-aos="fade-up"
            data-aos-once="true" data-aos-duration="1000">
            <div class="pt-4 card-body text-center">
              <img src="{{i.usuario.foto}}" alt="imagem de perfil" width="35px" class="img-fluid rounded-circle">
              <p class="card-text"><small class="text-muted">Postado por: {{i.usuario.nome}}</small></p>
              <h5 class="card-title">{{i.titulo}}</h5>
              <p class="card-text"><small class="text-muted">Tema: {{i.tema.nome}}</small></p>
              <p class="card-text">{{i.mensagem}}</p>
              <p class="card-text m-0">
                <small class="text-muted">
                  {{ i.data | date: "dd/MM/yyyy" }}
                  às {{ i.data | date: "HH:mm" }}
                </small>
              </p>
            </div>
          </div>
        </div>

        <!-- Minha Postagens -->
        <div class="tab-pane fade" id="m-postagens" role="tabpanel" aria-labelledby="minhaspostagens">
          <div class="card-columns">
            <div class="card h-100 my-2" *ngFor='let i of user.postagem | orderBy : key : reverse'>
              <div class="pt-4 card-body text-center">
                <img src="{{foto}}" alt="imagem de perfil" width="45px" class="img-fluid rounded-circle">
                <h5 class="card-title">{{i.titulo}}</h5>
                <p class="card-text"><small class="text-muted">Tema: {{i.tema.nome}}</small></p>
                <p class="card-text">{{i.mensagem}}</p>
                <p class="card-text m-0">
                  <small class="text-muted">
                    {{ i.data | date: "dd/MM/yyyy" }}
                    às {{ i.data | date: "HH:mm" }}
                  </small>
                </p>
                <div class="row mt-2">
                  <div class="col-md-12">
                    <button class="btn btn-dark me-3" [routerLink]="['/postagem-delete',i.id]">Apagar</button>
                    <button class="btn btn-outline-dark" [routerLink]="['/postagem-edit',i.id]">Editar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Postagens por Tema -->
        <div class="tab-pane fade" id="p-tema" role="tabpanel" aria-labelledby="postagensportema">
          <div class="card-columns" *ngFor='let t of listasTemas | orderBy : key : reverse'>
            <div class="card h-100 my-2" *ngFor='let i of t.postagem'>
              <div class="pt-4 card-body text-center">
                <img src="{{i.usuario.foto}}" alt="imagem de perfil" width="45px" class="img-fluid rounded-circle">
                <p class="card-text"><small class="text-muted">Postado por: {{i.usuario.nome}}</small></p>
                <h5 class="card-title">{{i.titulo}}</h5>
                <p class="card-text">{{i.mensagem}}</p>
                <p class="card-text m-0">
                  <small class="text-muted">
                    {{ i.data | date: "dd/MM/yyyy" }}
                    às {{ i.data | date: "HH:mm" }}
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Barra lateral direita -->
    <div class="col-lg-2 card mev">
    </div>
    <!-- fechamento lateral direita -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Nova Postagem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o titulo da postagem">
        </div>

        <div class="form-group">
          <label for="empresa">Empresa</label>
          <input [(ngModel)]='postagem.empresa' type="text" class="form-control" id="empresa"
            placeholder="Digite o nome da empresa">
        </div>

        <div class="form-group">
          <label for="texto">Mensagem</label>
          <textarea [(ngModel)]='postagem.mensagem' class="form-control" id="texto" name="texto" rows="3"
            placeholder="Digite sua mensagem"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Escolha um tema ou <a routerLink='/tema' data-bs-dismiss="modal">Cadastre-se um
              novo:</a></label>

          <select class="form-control" [(ngModel)]='idTema' name="tema" id="tema">
            <option *ngFor='let i of listasTemas' value="{{i.id}}">
              {{i.nome}}
            </option>
          </select>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">CANCELAR</button>
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" (click)='publicar()'>POSTAR</button>
      </div>
    </div>
  </div>
</div>