<div class="container mt-3">
  <div class="row">
    <!-- abertura lateral esquerda -->
    <div class="col-lg-3">

      <div class="card d-flex justify-content-center align-items-center shadow-lg bg-white rounded mx-3">
        <div class="my-3">
          <img src="../../assets/img/Isaque.jpg" class="rounded-pill p-2 border border-secondary tamanho-img"
            alt="imagemUsuario">
        </div>
        <h5 class="fw-bolder">Olá, {{nome}}</h5>
        <hr>
      </div>

    </div>
    <!--fechamento lateral esquerda -->

    <!--abertura feed-->
    <div class="col-lg-6">
      <div class="card shadow-lg pt-4">
        <div class="d-flex justify-content-center align-items-center">
          <p>BOTAO</p>
        </div>

        <div class="container" id="postagens">

          <nav>
            <div class="nav nav-tabs d-flex justify-content-center my-5" id="nav-tab" role="tablist">
              <a class="nav-link active text-secondary" id="nav-todasPostagens" data-toggle="tab" href="#todasPostagens"
                role="tab" aria-controls="nav-home" aria-selected="true">Todas as postagens</a>
              <a class="nav-link text-secondary" id="nav-minhasPostagens" data-toggle="tab" href="#minhasPostagens"
                role="tab" aria-controls="nav-profile" aria-selected="false">Minhas postagens</a>
              <a class="nav-link text-secondary" id="nav-postagensTema" data-toggle="tab" href="#postagensTema"
                role="tab" aria-controls="nav-contact" aria-selected="false">Postagens por Tema</a>
            </div>
          </nav>
          <div class="tab-content mb-5" id="nav-tabContent">
            <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
              aria-labelledby="nav-todasPostagens">
              Todas Postagens
            </div>
            <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens">
              Minhas Postagen
            </div>
            <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema">
              Postagem por Tema
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--fechamento feed-->

    


    <!-- abertura lateral direita -->
    <div class="col-lg-3 card shadow-lg mev">

    </div>
    <!-- fechamento lateral direita -->
  </div>