
.tamanho-img {
  width: 7rem;
  height: 7rem;
}

ul li a {
  text-decoration: none;
}

.fa {
  margin-right: 20px;
}

.nav-item {
  padding: 10px 15px;
}

.nav-item a{
  color: #ea7ac7;
}
  
.nav-item:hover a {
  color: #4ac2da;
}
  
.nav-item.active {
  padding: 10px 15px;
}

.imgBox{
  position: relative;
	width: 75px;
	height: 75px;
	overflow: hidden;
	border: 5px solid rgb(255 255 255);
}

.imgBox img {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.col-lg-6.mb-5{
  padding-left: 0!important;
}

.pp {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.custom{
  color: initial;
  background-color:#fff;
  border-radius: 30px;
}

/* #f3f2ef */